<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonSettingsBackground</include>
		<include>CommonMediaPlayingBackground</include>
		<control type="label">
			<description>header label</description>
			<posx>60</posx>
			<posy>60</posy>
			<width>300</width>
			<height>30</height>
			<font>groupTitle</font>
			<label>[LOWERCASE]$LOCALIZE[5][/LOWERCASE]</label>
			<align>left</align>
			<aligny>center</aligny>
			<textcolor>grey3</textcolor>
		</control>
	    <!-- visible "list" - display only labels based on focus in hidden container -->
		<control type="grouplist">
			<posx>60</posx>
			<posy>120</posy>
			<orientation>horizontal</orientation>
			<width>1280</width>
			<!-- appearance -->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[480]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(1)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[480]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(1)</visible>
			</control>
			<!-- video settings -->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[157]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(2)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[157]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(2)</visible>
			</control>
			<!-- music settings (10022)-->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[2]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(3)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[2]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<visible>!Container(9000).HasFocus(3)</visible>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
			</control>
			<!-- pictures settings -->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[1]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(4)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[1]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(4)</visible>
			</control>
			<!-- weather settings -->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[8]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(5)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[8]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(5)</visible>
			</control>
			<!-- addons browser -->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[24001]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(6)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[24001]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(6)</visible>
			</control> 
			<!-- network settings -->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[705]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(7)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[705]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(7)</visible>
			</control> 
			<!-- system settings (12999)-->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[13000]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(8)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[13000]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(8)</visible>
			</control> 
			<!-- skin settings -->
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[166]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>white</textcolor>
				<font>categoryTitle</font>
				<visible>Container(9000).HasFocus(9)</visible>
			</control>
			<control type="label">
				<label>[LOWERCASE]$LOCALIZE[166]  [/LOWERCASE]</label>
				<width max="1000">auto</width>
				<textcolor>grey3</textcolor>
				<font>categoryTitle</font>
				<visible>!Container(9000).HasFocus(9)</visible>
			</control>
		</control>
		<!-- "hidden container", allow navigating and "clicking" items -->
		<control type="list" id="9000">
			<posy>-10</posy>
			<orientation>horizontal</orientation>
			<content>
				<item id="1">
					<!--- HOW CAN I DO THIS?? --->
					<ondown>ActivateWindow(AppearanceSettings)</ondown>
					<onclick>ActivateWindow(AppearanceSettings)</onclick>
				</item>
				<item id="2">
					<onclick>ActivateWindow(VideosSettings)</onclick>
				</item>
				<item id="3">
					<onclick>ActivateWindow(MusicSettings)</onclick>
				</item>
				<item id="4">
					<onclick>ActivateWindow(PicturesSettings)</onclick>
				</item>
				<item id="5">
					<onclick>ActivateWindow(WeatherSettings)</onclick>
				</item>
				<item id="6">
					<onclick>ActivateWindow(AddonBrowser)</onclick>
				</item>
				<item id="7">
					<onclick>ActivateWindow(NetworkSettings)</onclick>
				</item>
				<item id="8">
					<onclick>ActivateWindow(SystemSettings)</onclick>
				</item>
				<item id="9">
					<onclick>ActivateWindow(1111)</onclick>
				</item>
			</content>
	    </control>		
		<include>CommonNowPlaying</include>
		<include>BehindDialogFadeOut</include>
		<include>Clock</include>
	</controls>
</window>